<body>
  <iframe src="https://www.youtube.com/embed/lmG0ReJvGno" width="560" height="315" frameborder="0" allowfullscreen></iframe>
  <h1>Youtube chat</h1>

  <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
  <%= link_to "Send Message", embed_new_message_path %>
</body>
