<html>
 <body>
  <iframe src="http://www.youtube.com/embed/lmG0ReJvGno"
   width="560" height="315" frameborder="0" allowfullscreen></iframe>
   <h1>Youtube chat</h1>
   <iframe frameborder="0" height="270" src="https://www.youtube.com/live_chat?v=lmG0ReJvGno" width="480"></iframe>

 </body>
</html>
